@font-face {
  font-family: 'Roobert';
  src: local('Roobert'), url(./fonts/Roobert/Roobert-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque'), url(./fonts/Lab Grotesque Demo/LabGrotesque-Regular.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Roobert';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
